*{
    margin:0;
    border:0;
    font-family: 'Poppins', sans-serif;
    color: black;
}

/*App images variables*/
:root {
    --img: url(./assets/weather-app-reactjs.png);
    --img1: url(./assets/Octocat.jpg);
    --img2: url(./assets/search-engine-optimization.jpg);
    --img3: url(./assets/runbuddy.jpg);
    --img4: url(./assets/rockpaperscissors.jpg);
  }
  
#bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0;
  z-index:-2;
  border: 0;
  margin: 0;
  opacity: 0.1;
}

a{
    text-decoration: none;
}

a:visited{
    color:black
}

/*Navbar*/

header{
    background-color: cadetblue;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    
}

header nav ul li{
    padding: 10px;
}

header nav ul li a:hover{
    color:rgb(237, 166, 100)
}

/*Hero*/

.hero{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.hero img{
    width:200px;
    border-radius:50%;
    margin: 20px;
}

.hero div{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 40px;
    justify-content: center;
}

.hero div div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    margin: 10px 0px;
}

.hero div div img{
    border-radius: 0;
    margin: 0;
   
}

.hero{
    position: relative;
    animation: hero;
    animation-duration: 0.5s;
    animation-timing-function:linear;
}

@keyframes hero {
    0%   { top:-500px;}
    25%  { top:-200px;}
    50%  { top:-100px;}
    75%  { top:0px;}
    100% { top:0px;}
  }

.hero div div i{
    font-size: 25px;
    margin: 5px;
}

/*Section*/

section{
   display:flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin-bottom: 20px;
   position: relative;
   animation: section;
   animation-duration:0.5s;
   animation-timing-function:linear;
  
}

@keyframes section {
    0%   { left:-1000px; top:0px;}
    25%  { left:-400px; top:0px;}
    50%  { left:-200px;top:0px;}
    75%  { left:0px;top:0px;}
    100% { left:0px;top:0px;}
  }

section h2{
    width:20%;
    text-align: right;
    padding-right: 30px;
}

section p{
    border-left: 2px solid  cadetblue;
    width:50%;
    padding-left:30px;
}

.flex-container {
    display: flex;
    flex-flow:column wrap;
    width: 50%;
    justify-content: space-between;
    border-left: 2px solid  cadetblue;
    padding-left:30px;
}

.flex-item {
    min-width: 150px;
    width: 98.5%;
    min-height: 250px;
    font-weight: bold;
    background-image: var(--img);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-attachment: cover;
    border: cadetblue solid 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    margin-bottom: 20px;
}

.opacity-layer{
    position: absolute;
    padding: 0;
    min-height: 100%;
    width: 100%;
    top: 0;
    left:0;
    background-color:cadetblue;
    opacity: 0.4;
    z-index: 1;
}

.opacity-layer:hover{
    opacity: 0;
}

.flex-item span {  
    width: 150px;
    background-color:cadetblue;
    color: #393b4f;
    padding: 10px 5px;
    text-align: left;
    display: block;
    margin-bottom:20px;
    font-size:0.7rem;
    z-index: 2;
}

.flex-item span span{
    display: inline-block;
    padding:0;
    margin: 0;
    font-size: 0.6rem;
    font-weight: lighter;
}

/*Sub container*/

.flex-sub-container{
    display: flex;
    flex-flow:row wrap;
    width: 100%;
    justify-content: space-between;
}

.flex-sub-item {
    min-width: 250px;
    height: 150px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-attachment: cover;
    padding: 20px 0;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    border: cadetblue solid 5px;
  }

.bg1{
    background-image: var(--img1);
}

.bg2{
    background-image: var(--img2);
}

.bg3{
    background-image: var(--img3);
}

.bg4{
    background-image: var(--img4);
}

.flex-sub-item span { 
    width: 150px; 
    background-color:cadetblue;
    color: #393b4f;
    padding: 10px 5px;
    text-align: left;
    display: block;
    font-size:0.7rem;
    z-index: 2;
}

.flex-sub-item span span{
    display: inline-block;
    padding:0;
    margin: 0;
    font-size: 0.6rem;
    font-weight: lighter;
}


/*Icons*/

.fas .fa-at{
    color: black;
}

/*Responsive*/

@media screen and (max-width: 1038px) {
    header {
      justify-content: center;
      align-items: center;
      position: relative;
    }

    header nav ul{
        justify-content: center;
        align-items: center;
    }

    .hero div{
        align-items: center;
        margin: 15px;
        width: 100%;
    }

    .hero div div{
        justify-content: center;
    }

    .flex-item{
        max-width:250px;
        margin-right: 30px;
    }
}

  
@media screen and (max-width: 600px) {
    header {
      justify-content: center;
      align-items: center;
      position: relative;
    }

    header nav ul{
        justify-content: center;
        align-items: center;
    }

    .hero div{
        align-items: center;
        margin: 15px;
        width: 100%;
    }

    .hero div div{
        justify-content: center;
    }

    .flex-item{
        min-width:190px;
        margin-right: 30px;
    }

    .flex-sub-item {
        min-width: 200px;
        margin-right: 30px;
      }
}