*{
    margin:0;
    border:0;
    font-family: 'Poppins', sans-serif;
    color: black;
}

#bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0;
  z-index:-2;
  border: 0;
 margin: 0;
 opacity: 0.2;
  }

a{
    text-decoration: none;
}

a:visited{
    color:black
}

header{
    background-color: cadetblue;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    
}

header nav ul li{
    padding: 10px;
}

.hero{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.hero img{
    width:200px;
    border-radius:50%;
    margin: 20px;
}

.hero div{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 40px;
    justify-content: center;
}

.hero div div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    margin: 10px 0px;
}

.hero div div img{
    border-radius: 0;
    margin: 0;
   
}

.hero h1{
    position: relative;
    animation: h1;
    animation-duration: 0.5s;
    animation-timing-function:linear;
    z-index: 1;
}

.hero h1 h3{
    position: relative;
    animation: hero;
    animation-duration: 1s;
    animation-timing-function:linear;
}

@keyframes hero {
    0%   { top:0px;}
    25%  { top:5px;}
    50%  { top:15px;}
    75%  { top:5px;}
    100% { top:0px;}
  }

.hero div div i{
    font-size: 25px;
    margin: 5px;
}

section{
   display:flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin-bottom: 20px;
   position: relative;
    animation: section;
    animation-duration: 0.5s;
    animation-timing-function:linear;
  
}

@keyframes section {
    0%   { left:0px; top:0px;}
    25%  { top:0px;}
    50%  { top:10px;}
    75%  { top:10px;}
    100% { top:0px;}
  }

section h2{
    width:20%;
    text-align: right;
    padding-right: 30px;
}

section p{
    border-left: 2px solid  cadetblue;
    width:50%;
    padding-left:30px;
}

.flex-container {
    display: flex;
    flex-flow:row wrap;
    width: 50%;
    justify-content: space-between;
    border-left: 2px solid  cadetblue;
    padding-left:30px;
}

.flex-item {
    /* makes each one 45%, putting 10% between each element on the page */
    width: 100%;
    background-color: #393b4f;
    font-size: 22px;
    font-weight: bold;
    /* puts space between each one vertically */
    margin-bottom: 15px;
    /* for files in local images folder, use url('../images/file-name.jpg') */
    background-image: url(./assets/weather-app-reactjs.png);
    /* tells background to fit box no matter what */
    background-size: cover;
    /* padding top and bottom 20px, 0 for left/right */
    padding: 20px 0;
    /* sets minimum height value so there's room */
    min-height: 250px;
    display: flex;
    flex-flow:row wrap;
    justify-content: center;

    align-items: flex-end;
  }

  .flex-item2 {
    /* makes each one 45%, putting 10% between each element on the page */
    width: 48%;
    background-color: #393b4f;
    font-size: 22px;
    font-weight: bold;
    /* puts space between each one vertically */
    margin-bottom: 15px;
    /* for files in local images folder, use url('../images/file-name.jpg') */
    background-image: url(./assets/weather-app-reactjs.png);
    /* tells background to fit box no matter what */
    background-size: cover;
    /* padding top and bottom 20px, 0 for left/right */
    padding: 20px 0;
    /* sets minimum height value so there's room */
    max-height: 200px;
    display: flex;
    flex-flow:row wrap;
    justify-content: center;

    align-items: flex-end;
  }

.flex-item span {
    position: relative;
    left:0;
    width: 50%;
    background-color: #fefeff;
    left: 0;
    text-align: center;
}

.fas .fa-at{
    color: black;
}
  
@media screen and (max-width: 600px) {
    header {
      justify-content: center;
      align-items: center;
      position: relative;
    }

    header nav ul{
        justify-content: center;
        align-items: center;
    }

    .hero div{
        align-items: center;
        margin: 15px;
        width: 100%;
    }

    .hero div div{
        justify-content: center;
    }

    .flex-item2 {
        width: 100%;
        background-color: #393b4f;
        font-size: 22px;
        font-weight: bold;
        /* puts space between each one vertically */
        margin-bottom: 15px;
        /* for files in local images folder, use url('../images/file-name.jpg') */
        background-image: url(./assets/weather-app-reactjs.png);
        /* tells background to fit box no matter what */
        background-size: cover;
        /* padding top and bottom 20px, 0 for left/right */
        padding: 20px 0;
        /* sets minimum height value so there's room */
        max-height: 250px;
        display: flex;
        flex-flow:row wrap;
        justify-content: center;
        align-items: flex-end;
      }
 

 
}